<div>
  <%= link_to :Go_back_to_index, restaurants_path, class: "btn btn-success" %>
</div>

<div>
  name: <%=@restaurant.name%>
</div>

<div>
  sign: <%=@restaurant.sign%>
</div>

<div>
  price: <%=@restaurant.price%>
</div>
